@font-face {
  font-family: 'sansforgetica-reg';
  src:  local('sansforgetica-reg'),
        url('./fonts/sansforgetica-reg.otf');
}

@font-face {
  font-family: 'Lekton-Italic';
  src:  local('Lekton-Italic'),
        url('./fonts/Lekton-Italic.ttf');
}

body {
  background-color: rgb(184, 108, 10);
  padding: 0;
  margin: 0;
}

.app {
  color: rgb(55, 61, 119);
  width: 95vw;
  height: 95vh;
  border-radius: 40px 7px;
  background-color: rgb(255, 253, 250);
  margin: 2vw auto;
  display: grid;
  grid-template-columns: 1.5fr 3.5fr;
  grid-template-rows: 1.5fr 1fr 1fr;
};