@font-face {
  font-family: 'sansforgetica-reg';
  src:  local('sansforgetica-reg'),
        url('./fonts/sansforgetica-reg.otf');
}

.infocontainer {
  align-self: end;
}

.info {
  font-family: Verdana, sans-serif;
  margin: 0 2vw;
  margin-bottom: 1vh;
}

.sansfont {
  font-family: sansforgetica-reg, sans-serif;
}

.name {
  font-family: sansforgetica-reg, sans-serif;
  font-size: 90px;
  letter-spacing: -0.1em;
}

.interests {
  font-size: 12px;
}

.motto {
  font-size: 12px;
}