.info {
  font-family: Verdana, sans-serif;
  margin: 0 2vw;
  margin-bottom: 1vh;
}

.name {
  font-size: 90px;
  letter-spacing: -0.15em;
}

.interests {
  font-size: 12px;
}

.motto {
  font-size: 10px;
}