.quotesection {
  font-family: Lekton-Regular, sans-serif, monospace;
  margin: 2.75vh 2vw 0 2vw;
  display: flex;
  flex-direction: column;
  height: 25vh;
}

/* Strlgrv Strlbrv */

.title {
  font-family: Lekton-Italic, sans-serif, monospace;
  padding: 0;
  margin: 2.5vh 0;
  text-align: center;
}

.quotation {
  overflow: scroll;

}

.author {
  text-align: right;
}

.buttonholder {
  margin: auto 1% 0 0;
}

.quotebutton {
  margin: 0 1% 0 0.5%;
  font-family: Lekton-Regular, sans-serif, monospace;
  color: rgb(55, 61, 119);
  display: inline-block;
  height: 5.6vh;
  background-color: rgb(223, 128, 39);
  border: 0;
  text-align: center;
  padding: 0.5vh 0 0.5vh 0;
  border-radius: 10px 2px;
  font-size: 18px;
  width: 12vw;
} 

/* *************** Media Queries **************** */

@media screen and (min-width: 480px) {
  .quotebutton {
    height: 5vh;
    width: 10vw;
  }
}

@media screen and (min-width: 600px) {
  .quotebutton {
    height: 4.75vh;
    width: 9vw;
  }
}

@media screen and (min-width: 768px) {
  .quotebutton {
    height: 4.5vh;
    width: 8vw;
    padding: 0.4vh 0 0.6vh 0;
  }
}

@media screen and (min-width: 900px) {
  .quotesection {
    margin: 4vh 2vw 0 2vw;
  }

  .quotebutton {
    height: 4.25vh;
    width: 5.5vw;
    padding: 0.6vh 0 0.5vh 0;
  }
}

@media screen and (min-width: 1200px) {
  .quotesection {
    margin: 3.75vh 2vw 0 2vw;
  }
  
  .quotebutton {
    height: 4.25vh;
    width: 4vw;
    padding: 0.6vh 0 0.5vh 0;
  }
}