.teamprojholder {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-end: 3;
  height: 60vh;
}

.teamprojtitle {
  padding: 0;
  margin: 2.2vh 0 0.5vh 0;
  text-align: center;
}

.teamprojects {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.teamproj {
  display: inline;
}

img {
  height: 28vh;
  margin: 0 5%;
}