.teamprojholder {
  border: 1px solid purple;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.teamprojtitle {
  padding: 0;
  margin: 2vh 0 0.5vh 0;
  text-align: center;
  font-size: 20px;
}

.teamprojects {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.teamproj {
  display: inline;
}

img {
  height: 24vh;
  margin: 0 5%;
}